*{
    color: rgba(70, 70, 70);
}
header{
    position: static;
    background: rgb(30,30,30);
    opacity: 1;
}

.section{
    z-index: 0;
}
.italic{
    font-style: italic;
}
.caption{
    font-size: 0.7rem;
    padding: 0 1rem;
}

.wholerow{
    display: block;
}
.splash-background{
    width: 50rem;
    height: 30rem;
    background: url(../../../resources/images/sobarica2.jpg) center/cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.post-date{
    color: #CEA668;
    margin-top: 2rem;
}
.splash-text{
    max-width: 50rem;
    padding: 1rem;
    padding-bottom: 2rem;
    color: white;
    text-shadow: 0 1px 2px rgb(59, 59, 59,0.5), 0 0 1px rgb(59, 59, 59,0.5);
    transition: all 0.3s ease;
    text-align: center;
}
.blog-post{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.landing-image{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.landing-image img{
    width: 100%;
}

.blog-post .intro{
    max-width: 50rem;
}

.step{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 1rem;
    max-width: 50rem;
    border-bottom: 1px solid gray;
}

.step-text h2{
    margin-top: 0;
}

.column{
    flex-direction: column;
}

.reverse{
    flex-direction: row-reverse;
}

.step img{
    float: left;
    height: 7rem;
    width: 7rem;
    margin: 0 1rem;
}

.reverse img{
    float: right;
}

.closing-words{
    max-width: 50rem;
    margin: 2rem 0;
    padding: 1rem;
}

.summary{
    padding: 2rem;
    margin: 4rem 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 2rem rgba(70, 70, 70, 0.3);
}
.summary h2{
    margin-top: 0;
    border-bottom: 1px solid rgb(102, 186, 255);
}

.summary p{
    margin-bottom: 1rem;
}




@media screen and (max-width:500px)  {
    .splash-background{
        width: 100vw;
    }
    .step{
        padding: 1rem;
    }
    .step-image img{
        height: 5rem;
        width: 5rem;
        margin-left: 0;
    }
    .summary{
        padding: 1.5rem;
    }
}