*{
    color: rgba(70, 70, 70);
}

.section{
    z-index: 0;
}

.blog-post{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.landing-image{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.landing-image img{
    width: 100%;
}

.blog-post .intro{
    max-width: 50rem;
}

.step{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 1rem;
    max-width: 50rem;
    border-bottom: 1px solid gray;
}

.step-image img{
    height: 7rem;
    width: 7rem;
    margin: 0 1rem;
}

.step-text h2{
    margin-top: 0;
}

.reverse{
    flex-direction: row-reverse;
}

.closing-words{
    max-width: 50rem;
    margin: 2rem 0;
    padding: 1rem;
}

.summary{
    padding: 2rem;
    margin: 4rem 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 2rem rgba(70, 70, 70, 0.3);
}
.summary h2{
    margin-top: 0;
    border-bottom: 1px solid rgb(102, 186, 255)
}

.summary p{
    margin-bottom: 1rem;
}

@media screen and (max-width:500px)  {
    .step{
        padding: 1rem;
    }
    .step-image img{
        height: 5rem;
        width: 5rem;
    }
    .summary{
        padding: 1.5rem;
    }
    
}