*{
    color: var(--text-color);
}

p{
    line-height: 1.5rem;
}

li{
    line-height: 1.5rem;
}

body{
    background-color: var(--bkg-color);
}

.blue{
    color: rgb(102, 186, 255);
}

.intro{
    background: none;
    padding: 0;
}

.italic{
    font-style: italic;
}

.caption{
    font-size: 0.7rem;
    padding: 0 1rem;
}

.wholerow{
    display: block;
}

.blog-post{
    margin-top: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-date{
    color: #CEA668;
    margin-top: 2rem;
}

.splash-text{
    max-width: 50rem;
    padding: 1rem;
    padding-bottom: 2rem;
    color: white;
    text-shadow: 0 1px 2px rgb(59, 59, 59,0.5), 0 0 1px rgb(59, 59, 59,0.5);
    transition: all 0.3s ease;
    text-align: center;
}

.splash-background{
    width: 50rem;
    height: 30rem;
    background: url(../../../resources/images/soba2.jpg) center/cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.blog-post .intro{
    max-width: 50rem;
}

.blog-post-text{
    max-width: 50rem;
    padding: 1rem;
}

.blog-post-text ul {
    list-style-position: outside;
    list-style-type: circle;
}

.blog-post-text li{
    margin: 0.5rem 2rem;
}

.closing-words{
    max-width: 50rem;
    margin: 2rem 0;
    padding: 1rem;
}

.summary{
    padding: 2rem;
    margin: 4rem 0;
    border-radius: 1rem;
    box-shadow: var(--dark-shadow);
}

.summary h2{
    margin-top: 0;
    border-bottom: 1px solid rgb(102, 186, 255)
}

.summary p{
    margin-bottom: 1rem;
}

.still-image{
    max-width: 50rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    box-shadow: var(--dark-shadow);
    border-radius: 0.4rem;
}

.still-image img{
    width: 100%;
}