/* -------------------- COMMON STYLE ------------------------ */
*{
    color: rgba(70, 70, 70);
}
.section{
    z-index: 0;
}
p{
    margin: 1rem 0;
}
.italic{
    font-style: italic;
}
.caption{
    font-size: 0.7rem;
    padding: 0 1rem;
}
.wholerow{
    display: block;
}

main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50vh;
    background-color: white;
    gap: 2rem;
}
header{
    position: static;
    background: rgb(30,30,30);
    opacity: 1;
}
.blog-post{
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.post-date{
    color: #CEA668;
    margin-top: 2rem;
}
.splash-text{
    max-width: 50rem;
    padding: 1rem;
    padding-bottom: 2rem;
    color: white;
    text-shadow: 0 1px 2px rgb(59, 59, 59,0.5), 0 0 1px rgb(59, 59, 59,0.5);
    transition: all 0.3s ease;
    text-align: center;
}
.splash-background{
    width: 48rem;
    height: 30rem;
    background: url(../../../resources/images/soba2.jpg) center/cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.post-text{
    max-width: 50rem;
    padding: 1rem;
}
.post-text ul {
    list-style-position: outside;
    list-style-type: circle;
}
.post-text li{
    margin: 0.5rem 2rem;
}
.closing-words{
    max-width: 50rem;
    margin: 2rem 0;
    padding: 1rem;
}
.summary{
    padding: 2rem;
    margin: 4rem 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 2rem rgba(70, 70, 70, 0.3);
}
.summary h2{
    margin-top: 0;
    border-bottom: 1px solid rgb(102, 186, 255)
}
.summary p{
    margin-bottom: 1rem;
}
.still-image{
    max-width: 50rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    box-shadow: 0 0.2rem 2rem rgba(70, 70, 70, 0.3);
    border-radius: 0.4rem;
}
.still-image img{
    width: 100%;
}

/* SECTION SIX micro blog */
.micro-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
    max-width: 30rem;
}
.micro-blog h4{
    margin: 1rem;
    border-bottom: 1px solid rgb(30,30,30);
}
.micro-blog h2{
    width: 100%;
}
.micro-blog .outer-container{
    display: flex;
    flex-direction: column;
}
.micro-post{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 20rem;
    transition: all 0.3s ease;
}
.micro-post a{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.micro-post:hover{
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    transform:scale(1.05);
}
.micro-post-img{
    width: 7rem;
    height: 7rem;
    overflow: hidden;
}
.micro-post-txt{
    text-align: center;    
    width: 11rem;
    padding-right: 2rem;

}
.micro-post-date{
    color: rgb(206, 166, 104);
    margin-bottom: 0;
    padding: 0;
}

.micro-post-img img{
    height: 100%;
}
/* SECTION SIX micro blog */

/* -------------------- COMMON STYLE ---------------------- */


.compare-img{
    width: 50rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    box-shadow: 0 0.2rem 2rem rgba(70, 70, 70, 0.3);
    border-radius: 0.4rem;
}

/* image comparator */
.img-comp-container {
    position: relative;
    height: 30rem; /*should be the same height as the images*/
    width: 50rem;
    overflow: hidden;
  }
  
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .img-comp-img img {
    display: block;
    vertical-align: middle;
    height: 30rem;
    width: 50rem;
  }
  
  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: rgb(102, 186, 255);
    border-radius: 50%;
  }

  .img-comp-slider:active{
    background-color: rgb(102, 186, 255, 0.5);
  }
/* image comparator */


/* -------------------- COMMON MEDIA QUERY ---------------------- */
@media screen and (max-width: 1170px){
    
    .micro-blog{
        max-width: 50rem;
    }

   .micro-blog .outer-container{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    }
    .micro-blog h4{
        font-size: 2rem;
        font-weight: 500;
        margin: 2rem;
    }
}

@media screen and (max-width: 50rem){
    *:hover{
        box-shadow: none;
    }
    main{
        margin-bottom: 100vh;
    }
    .blog-post{
        width: 100vw;
    }
    .splash-background{
        width: 100vw;
    }
    .compare-img{
        width: 90vw;
        height: 70vw;
    }
    .img-comp-container {
        width: 90vw;
        height: 70vw;
    }
    .img-comp-img img {
        width: 90vw;
        height: 70vw;
    }
    .micro-post{
        margin: 1rem;
        box-shadow: 0 0.2rem 2rem rgba(70, 70, 70, 0.3);
        border-radius: 0.4rem;
        overflow: hidden;
    }
}