/* -------------------- COMMON STYLE ------------------------ */
*{
    color: rgba(70, 70, 70);
}

.section{
    z-index: 0;
}

.blog-post{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.landing-image{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.landing-image img{
    width: 100%;
}

.blog-post .intro{
    max-width: 50rem;
}

.step{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 1rem;
    max-width: 50rem;
    border-bottom: 1px solid gray;
}

.step-text h2{
    margin-top: 0;
}

.column{
    flex-direction: column;
}

.reverse{
    flex-direction: row-reverse;
}

.step img{
    float: left;
    height: 7rem;
    width: 7rem;
    margin: 0 1rem;
}

.reverse img{
    float: right;
}

.closing-words{
    max-width: 50rem;
    margin: 2rem 0;
    padding: 1rem;
}

.summary{
    padding: 2rem;
    margin: 4rem 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 2rem rgba(70, 70, 70, 0.3);
}
.summary h2{
    margin-top: 0;
    border-bottom: 1px solid rgb(102, 186, 255)
}

.summary p{
    margin-bottom: 1rem;
}

@media screen and (max-width:500px)  {
    .step{
        padding: 1rem;
    }
    .step-image img{
        height: 5rem;
        width: 5rem;
        margin-left: 0;
    }
    .summary{
        padding: 1.5rem;
    }
}
/* ------------------------------------------------------------- */
p{
    margin: 1rem 0;
}
.italic{
    font-style: italic;
}
.caption{
    font-size: 0.8rem;
}
.post-text li::before{
    content: '-';
    padding: 0 1rem;
}
.wholerow{
    display: block;
}
.splash-background{
    height: 100vh;
    width: 100vw;
    background: url(../../../resources/images/sauna.jpg) center/cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.splash-text{
    max-width: 50rem;
    padding: 1rem;
    margin: 0;
    padding-bottom: 2rem;
    color: white;
    text-shadow: 0 1px 2px rgb(59, 59, 59,0.5), 0 0 1px rgb(59, 59, 59,0.5), 0 0 20px rgb(59, 59, 59);
    transition: all 0.3s ease;
}
.splash-text:hover{
    backdrop-filter: blur(10px);
    background-color: rgb(200,200,200,0.3);
}
.post-text{
    max-width: 50rem;
}

.compare-img{
    width: 50rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* image comparator */
.img-comp-container {
    position: relative;
    height: 30rem; /*should be the same height as the images*/
    width: 50rem;
    overflow: hidden;
  }
  
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .img-comp-img img {
    display: block;
    vertical-align: middle;
    height: 30rem;
    width: 50rem;
  }
  
  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
  }

  .img-comp-slider:active{
    background-color: #6cbdff;
  }
/* image comparator */